/* flexbox mixins */
/* styles for home page */
.portfolio {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  background-color: #1f1f1f;
  color: #eaeaea;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.8; }

.portfolio-nav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: baseline;
  -ms-align-items: baseline;
  -moz-align-items: baseline;
  align-items: baseline;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  border-bottom: solid 2px #ff008c;
  padding: 3% 5%;
  position: relative; }
  .portfolio-nav:after {
    background: url("../images/graffiti-alley.jpg") no-repeat left;
    background-size: cover;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.15;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }
  .portfolio-nav .portfolio-nav-name-link {
    color: #eaeaea;
    font-size: 30px;
    font-weight: 300;
    transition: ease-out 0.3s; }
    .portfolio-nav .portfolio-nav-name-link:hover {
      color: #ff008c; }
  .portfolio-nav .portfolio-nav-links {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row; }
  .portfolio-nav .portfolio-nav-title {
    width: 445px; }
  .portfolio-nav .portfolio-nav-link {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: solid 3px #000000;
    color: #eaeaea;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    margin: 0 10px;
    padding: 7px 7px 2px 7px;
    transition: ease-out 0.3s; }
    .portfolio-nav .portfolio-nav-link:hover {
      background-color: rgba(0, 0, 0, 0.4); }
  .portfolio-nav .portfolio-about-link {
    border-bottom-color: #ff008c; }
  .portfolio-nav .portfolio-page-link {
    border-bottom-color: #ff008c; }
  .portfolio-nav .process-page-link {
    border-bottom-color: #ff008c; }

.portfolio-intro {
  padding: 100px 10%; }
  .portfolio-intro .portfolio-intro-blurb {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center; }
    .portfolio-intro .portfolio-intro-blurb:first-of-type {
      font-size: 30px;
      font-weight: 300; }
  .portfolio-intro .portfolio-intro-blurb-emphasis {
    color: #ff008c; }
  .portfolio-intro .portfolio-intro-resume-link {
    color: #eaeaea;
    cursor: pointer;
    border-bottom: solid 2px #eaeaea;
    transition: ease-out 0.3s; }
    .portfolio-intro .portfolio-intro-resume-link:hover {
      border-bottom: solid 2px #ff008c;
      color: #ff008c; }

.portfolio-portfolio {
  background-color: #ffffff;
  color: #1f1f1f;
  padding: 75px 10%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column; }
  .portfolio-portfolio .portfolio-portfolio-header {
    color: #ff008c;
    font-size: 30px;
    font-weight: 700; }

.portfolio-philosophy {
  background-color: #1f1f1f;
  padding: 75px 10%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column; }
  .portfolio-philosophy .portfolio-philosophy-header {
    color: #ff008c;
    font-size: 30px;
    font-weight: 300; }

.portfolio-content-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.portfolio-content-column:first-of-type {
  margin-right: 5%; }

.portfolio-content-blurb {
  font-size: 20px;
  margin-bottom: 10px; }

.portfolio-content-list {
  margin-left: 30px; }

.portfolio-content-list-item {
  margin-bottom: 5px;
  font-size: 16px; }
  .portfolio-content-list-item:last-of-type {
    margin-bottom: 0; }

.portfolio-icon {
  background-color: #1f1f1f;
  border: 3px solid #1f1f1f;
  box-sizing: content-box;
  cursor: pointer;
  height: 250px;
  margin: 1.5%;
  opacity: 1;
  padding: 0;
  position: relative;
  transition: ease-out 0.3s;
  width: 325px; }
  .portfolio-icon:hover {
    border: 3px solid #ff008c;
    opacity: 0.8; }
  .portfolio-icon .portfolio-icon-image {
    cursor: pointer;
    transition: ease-out 0.3s;
    width: 300px; }

.process-icon {
  background-color: #ffffff; }

/* styles for portfolio page */
.portfolio-trinetx, .portfolio-testive-projects, .portfolio-icons {
  background-color: #1f1f1f;
  padding: 50px 10%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column; }

.portfolio-school-analytics, .portfolio-call-congress {
  background-color: #ffffff;
  color: #1f1f1f;
  padding: 50px 10%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column; }
  .portfolio-school-analytics .portfolio-piece-header, .portfolio-call-congress .portfolio-piece-header {
    font-weight: 700; }
  .portfolio-school-analytics .portfolio-piece-blurb-emphasis, .portfolio-call-congress .portfolio-piece-blurb-emphasis {
    font-weight: 700; }
  .portfolio-school-analytics .portfolio-piece-icon, .portfolio-call-congress .portfolio-piece-icon {
    background-color: #1f1f1f; }

.portfolio-piece-icon {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  background-color: #ffffff;
  border: 3px solid #1f1f1f;
  box-sizing: content-box;
  cursor: pointer;
  height: 250px;
  margin: 1.5%;
  opacity: 1;
  padding: 0;
  position: relative;
  transition: ease-out 0.3s;
  width: 325px; }
  .portfolio-piece-icon:hover {
    border: 3px solid #ff008c;
    opacity: 0.8; }

.portfolio-piece-icon-image {
  cursor: pointer;
  width: 300px; }

.portfolio-piece-header {
  color: #ff008c;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px; }

.portfolio-piece-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.portfolio-icons-row {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.portfolio-piece-column:first-of-type {
  margin-right: 5%;
  margin-top: 15px; }

.portfolio-piece-blurb {
  margin-bottom: 15px; }

.portfolio-piece-blurb-emphasis {
  color: #ff008c;
  font-weight: 300; }

.portfolio-piece-blurb-emphasis-black {
  font-weight: 700; }

.portfolio-piece-list {
  margin-left: 30px; }

.portfolio-piece-list-item {
  margin-bottom: 5px; }
  .portfolio-piece-list-item:last-of-type {
    margin-bottom: 0; }

/* process page styles */
.portfolio-process-body {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column; }
  .portfolio-process-body .portfolio-process-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    background-color: #ffffff;
    color: #1f1f1f;
    padding: 25px 10%; }
    .portfolio-process-body .portfolio-process-row:first-of-type {
      border-top: solid 3px #b0e9f7;
      padding-top: 100px; }
    .portfolio-process-body .portfolio-process-row:last-of-type {
      padding-bottom: 100px; }
  .portfolio-process-body .portfolio-process-design-img {
    border: solid 3px #000000;
    margin-right: 5%; }
  .portfolio-process-body .portfolio-process-column {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column; }
  .portfolio-process-body .portfolio-process-header {
    border-bottom: solid 2px #b0e9f7;
    color: #0062ff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    padding-bottom: 5px; }
  .portfolio-process-body .portfolio-process-blurb {
    font-weight: 700;
    margin-bottom: 15px; }
  .portfolio-process-body .portfolio-process-list {
    margin-left: 15px; }
  .portfolio-process-body .portfolio-process-list-item {
    margin-bottom: 10px; }
  .portfolio-process-body .portfolio-process-list-item-emphasis {
    font-weight: 700; }

/* end process page styles */
/* portfolio: testive marketing page styles */
.portfolio-testive-home-page, .portfolio-testive-branding {
  background-color: #ffffff;
  color: #1f1f1f;
  padding: 50px 10%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column; }
  .portfolio-testive-home-page .portfolio-piece-header, .portfolio-testive-branding .portfolio-piece-header {
    font-weight: 700; }
  .portfolio-testive-home-page .portfolio-piece-blurb-emphasis, .portfolio-testive-branding .portfolio-piece-blurb-emphasis {
    font-weight: 700; }
  .portfolio-testive-home-page .portfolio-piece-icon, .portfolio-testive-branding .portfolio-piece-icon {
    background-color: #1f1f1f; }

.portfolio-testive-landing-page {
  background-color: #1f1f1f;
  padding: 50px 10%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column; }

/* end portfolio: testive marketing page styles */
/* ccn page styles */
.portfolio-ccn-body {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  background-color: #ffffff;
  color: #1f1f1f; }
  .portfolio-ccn-body .portfolio-ccn-intro {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    background-color: #1f1f1f;
    color: #eaeaea;
    padding: 50px 10%; }
  .portfolio-ccn-body .portfolio-ccn-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center; }
  .portfolio-ccn-body .portfolio-ccn-title-emphasis {
    color: #ff008c;
    font-weight: 300; }
  .portfolio-ccn-body .portfolio-ccn-intro-blurb {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-self: center;
    -ms-align-self: center;
    -moz-align-self: center;
    align-self: center;
    font-size: 18px;
    margin-bottom: 35px;
    max-width: 735px;
    text-align: center; }
  .portfolio-ccn-body .portfolio-ccn-screenshot {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    border: solid 3px #ffffff;
    cursor: pointer;
    max-width: 750px;
    margin: 0 auto;
    opacity: 1;
    transition: ease-out 0.3s;
    width: 100%; }
    .portfolio-ccn-body .portfolio-ccn-screenshot:hover {
      border-color: #ff008c;
      opacity: 0.8; }
  .portfolio-ccn-body .portfolio-ccn-process {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    margin: 50px auto;
    max-width: 750px; }
  .portfolio-ccn-body .portfolio-ccn-process-title {
    border-bottom: solid 2px #ff008c;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 15px; }
  .portfolio-ccn-body .portfolio-ccn-process-blurb {
    margin-bottom: 15px; }
  .portfolio-ccn-body .portfolio-ccn-process-blurb-emphasis {
    font-weight: 700; }
  .portfolio-ccn-body .portfolio-ccn-process-header {
    color: #ff008c;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px; }
  .portfolio-ccn-body .portfolio-ccn-process-list {
    margin-left: 30px; }
  .portfolio-ccn-body .portfolio-ccn-process-list-item {
    margin-bottom: 10px; }
  .portfolio-ccn-body .portfolio-ccn-process-img {
    border: solid 3px #000000;
    margin: 25px 0;
    width: 100%; }
  .portfolio-ccn-body .portfolio-ccn-process-design-visuals {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
    margin-bottom: 15px; }
  .portfolio-ccn-body .portfolio-ccn-process-design-visuals-column {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    position: relative; }
  .portfolio-ccn-body .portfolio-ccn-process-design-visuals-header {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px; }
  .portfolio-ccn-body .portfolio-ccn-process-color-swatches {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    width: 150px; }
    .portfolio-ccn-body .portfolio-ccn-process-color-swatches:first-of-type {
      margin-bottom: 10px; }
  .portfolio-ccn-body .portfolio-ccn-process-color {
    border: solid 2px #000000;
    height: 65px;
    width: 65px; }
  .portfolio-ccn-body .color-1 {
    background-color: #1b1464; }
  .portfolio-ccn-body .color-2 {
    background-color: #1552ff; }
  .portfolio-ccn-body .color-3 {
    background-color: #ff00ff; }
  .portfolio-ccn-body .color-4 {
    background-color: #ffffff; }
  .portfolio-ccn-body .portfolio-ccn-process-design-img {
    width: 200px; }
  .portfolio-ccn-body .portfolio-ccn-process-capitol-bg-subtitle {
    bottom: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    position: absolute; }

/* end ccn page styles */
@keyframes slideIn {
  from {
    left: -300px;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.portfolio-footer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  border-top: solid 2px #ff008c;
  color: #eaeaea;
  padding: 7%;
  position: relative; }
  .portfolio-footer:after {
    background: url("../images/graffiti-alley.jpg") no-repeat left;
    background-size: cover;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.15;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }
  .portfolio-footer .portfolio-footer-about-title {
    color: #ff008c;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px; }
  .portfolio-footer .portfolio-footer-social-media {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row; }
  .portfolio-footer .portfolio-footer-social-media-icon {
    background-color: rbga(0, 0, 0, 1);
    border-radius: 50%;
    height: 46px;
    margin: 0 25px 15px 0;
    transition: ease-out 0.3s;
    width: 46px; }
    .portfolio-footer .portfolio-footer-social-media-icon:first-of-type {
      height: 43px;
      width: 43px; }
    .portfolio-footer .portfolio-footer-social-media-icon:hover {
      background-color: #ff008c;
      height: 46px;
      width: 46px; }
      .portfolio-footer .portfolio-footer-social-media-icon:hover:first-of-type {
        height: 43px;
        width: 43px;
        border-radius: 10px; }
      .portfolio-footer .portfolio-footer-social-media-icon:hover:last-of-type {
        border-radius: 13px; }
  .portfolio-footer .portfolio-footer-email {
    color: #eaeaea;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px; }
  .portfolio-footer .portfolio-about-resume-link {
    color: #eaeaea;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    transition: ease-out 0.3s;
    width: 170px; }
    .portfolio-footer .portfolio-about-resume-link:hover {
      color: #ff008c; }

@media only screen and (max-width: 975px) {
  .portfolio-nav .portfolio-nav-links {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column; }
  .portfolio-nav .portfolio-nav-link {
    margin: 0 0 10px 0; }
    .portfolio-nav .portfolio-nav-link:last-of-type {
      margin-bottom: 0; }

  .portfolio-footer {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column; }
    .portfolio-footer .portfolio-footer-about-blurb:last-of-type {
      padding-bottom: 30px; } }
@media only screen and (max-width: 750px) {
  .portfolio-nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start; }
    .portfolio-nav .portfolio-nav-left-side {
      margin-bottom: 10px; } }
@media only screen and (max-width: 600px) {
  .portfolio-modal .portfolio-modal-gif {
    display: none; } }
@media only screen and (max-width: 500px) {
  .portfolio-nav {
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    .portfolio-nav .portfolio-nav-name {
      font-size: 28px; }
    .portfolio-nav .portfolio-nav-title {
      display: none; }

  .portfolio-footer .portfolio-footer-about-title {
    font-size: 24px;
    margin-bottom: 10px; } }

/*# sourceMappingURL=stylesheet.css.map */
