/* flexbox mixins */
/* styles for andrea's portfolio */
.portfolio {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

.portfolio-nav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  border-bottom: solid 2px #ff008c;
  padding: 2.5% 5%; }
  .portfolio-nav .portfolio-nav-name {
    font-size: 24px;
    font-weight: 700; }
  .portfolio-nav .portfolio-nav-link {
    border-bottom: none;
    transition: ease-out 0.5s;
    color: #000000;
    margin: 0 25px; }
    .portfolio-nav .portfolio-nav-link:hover {
      border-bottom: solid 6px #ff008c;
      color: #ff008c; }

.portfolio-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 5%; }
  .portfolio-row .portfolio-icon {
    border: 2px solid #000000;
    height: 300px;
    margin: 1.5%;
    position: relative;
    transition: ease-out 0.5s;
    width: 300px; }
    .portfolio-row .portfolio-icon .portfolio-icon-image {
      opacity: 1;
      transition: ease-out 0.5s;
      width: 300px; }
    .portfolio-row .portfolio-icon .portfolio-icon-title {
      bottom: 114px;
      color: #000000;
      font-size: 24px;
      font-weight: 700;
      opacity: 0;
      position: absolute;
      text-align: center;
      transition: ease-out 0.5s;
      width: 100%; }
    .portfolio-row .portfolio-icon:hover {
      border-color: #ff008c; }
      .portfolio-row .portfolio-icon:hover .portfolio-icon-image {
        opacity: 0.2; }
      .portfolio-row .portfolio-icon:hover .portfolio-icon-title {
        opacity: 1; }

.portfolio-footer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  background-color: #1f1f1f;
  color: #eaeaea;
  padding: 7%; }
  .portfolio-footer .portfolio-footer-about {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    max-width: 660px; }
  .portfolio-footer .portfolio-footer-about-title {
    color: #ff008c;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 2%; }
  .portfolio-footer .portfolio-footer-download-cv {
    border-bottom: solid 1px #ffffff;
    color: #ffffff;
    font-size: 16px;
    transition: ease-out 0.3s;
    width: 195px; }
    .portfolio-footer .portfolio-footer-download-cv:hover {
      border-bottom: solid 6px #ff008c;
      color: #ff008c; }
  .portfolio-footer .portfolio-footer-contact {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column; }
  .portfolio-footer .portfolio-footer-social-media {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row; }
  .portfolio-footer .portfolio-footer-social-media-icon {
    background-color: #1f1f1f;
    border-radius: 50%;
    height: 85px;
    margin: 0 25px 25px 0;
    transition: ease-out 0.3s;
    width: 85px; }
    .portfolio-footer .portfolio-footer-social-media-icon:hover {
      background-color: #ff008c;
      width: 85px;
      height: 85px; }
      .portfolio-footer .portfolio-footer-social-media-icon:hover:first-of-type {
        border-radius: 10px; }
  .portfolio-footer .portfolio-footer-email {
    font-size: 28px;
    font-weight: 100; }

/*# sourceMappingURL=stylesheet.css.map */
