/* flexbox mixins */

@mixin flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

@mixin flex-align-items ($direction: center) {
    -webkit-align-items: $direction;
    -ms-align-items: $direction;
    -moz-align-items: $direction;
    align-items: $direction;
}

@mixin flex-align-self ($direction: center) {
    -webkit-align-self: $direction;
    -ms-align-self: $direction;
    -moz-align-self: $direction;
    align-self: $direction;
}

@mixin flex-direction ($type: row) {
    -webkit-flex-direction: $type;
    -ms-flex-direction: $type;
    -moz-flex-direction: $type;
    flex-direction: $type;
}

@mixin flex-justify-content ($direction: center) {
    -webkit-justify-content: $direction;
    -ms-justify-content: $direction;
    -moz-justify-content: $direction;
    justify-content: $direction;
}

@mixin flex-wrap($wrap: wrap) {
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

/* styles for home page */

.portfolio {
    @include flex;
    @include flex-direction(column);
    background-color: #1f1f1f;
    color: #eaeaea;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.8;
}
.portfolio-nav {
    @include flex;
    @include flex-align-items(baseline);
    @include flex-direction(row);
    @include flex-justify-content(space-between);
    border-bottom: solid 2px #ff008c;
    padding: 3% 5%;
    position: relative;
    &:after {
        background: url('../images/graffiti-alley.jpg') no-repeat left;
        background-size: cover;
        bottom: 0;
        content: "";
        left: 0;
        opacity: 0.15;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .portfolio-nav-name-link {
        color: #eaeaea;
        font-size: 30px;
        font-weight: 300;
        transition: ease-out 0.3s;
        &:hover {
            color: #ff008c;
        }

    }
    .portfolio-nav-links {
        @include flex;
        @include flex-direction(row);
    }
    .portfolio-nav-title {
        width: 445px;
    }
    .portfolio-nav-link {
        background-color: rgba(255, 255, 255, 0.2);
        border-bottom: solid 3px #000000;
        color: #eaeaea;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        margin: 0 10px;
        padding: 7px 7px 2px 7px;
        transition: ease-out 0.3s;
        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
    .portfolio-about-link {
        border-bottom-color: #ff008c;
    }
    .portfolio-page-link {
        border-bottom-color: #ff008c;
    }
    .process-page-link {
        border-bottom-color: #ff008c;
    }
}

.portfolio-intro {
    padding: 100px 10%;
    .portfolio-intro-blurb {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
        &:first-of-type {
            font-size: 30px;
            font-weight: 300;
        }
    }
    .portfolio-intro-blurb-emphasis {
        color: #ff008c;
    }
    .portfolio-intro-resume-link {
        color: #eaeaea;
        cursor: pointer;
        border-bottom: solid 2px #eaeaea;
        transition: ease-out 0.3s;
        &:hover {
            border-bottom: solid 2px #ff008c;
            color: #ff008c;
        }
    }
}

.portfolio-portfolio {
    background-color: #ffffff;
    color: #1f1f1f;
    padding: 75px 10%;
    @include flex;
    @include flex-direction(column);
    .portfolio-portfolio-header {
        color: #ff008c;
        font-size: 30px;
        font-weight: 700;
    }
}

.portfolio-philosophy {
    background-color: #1f1f1f;
    padding: 75px 10%;
    @include flex;
    @include flex-direction(column);
    .portfolio-philosophy-header {
        color: #ff008c;
        font-size: 30px;
        font-weight: 300;

    }
}

.portfolio-content-row {
    @include flex;
    @include flex-direction(row);
    @include flex-align-items(flex-start);
}
.portfolio-content-column:first-of-type {
    margin-right: 5%;
}
.portfolio-content-blurb {
    font-size: 20px;
    margin-bottom: 10px;
}
.portfolio-content-list {
    margin-left: 30px;
}
.portfolio-content-list-item {
    margin-bottom: 5px;
    font-size: 16px;
    &:last-of-type {
        margin-bottom: 0;
    }
}

.portfolio-icon {
        background-color: #1f1f1f;
        border: 3px solid #1f1f1f;
        box-sizing: content-box;
        cursor: pointer;
        height: 250px;
        margin: 1.5%;
        opacity: 1;
        padding: 0;
        position: relative;
        transition: ease-out 0.3s;
        width: 325px;
        &:hover {
            border: 3px solid #ff008c;
            opacity: 0.8;
        }
        .portfolio-icon-image {
            cursor: pointer;
            transition: ease-out 0.3s;
            width: 300px;
        }
}

.process-icon {
    background-color: #ffffff;
}

/* styles for portfolio page */

.portfolio-trinetx, .portfolio-testive-projects, .portfolio-icons {
    background-color: #1f1f1f;
    padding: 50px 10%;
    @include flex;
    @include flex-direction(column);
}

.portfolio-school-analytics, .portfolio-call-congress{
    background-color: #ffffff;
    color: #1f1f1f;
    padding: 50px 10%;
    @include flex;
    @include flex-direction(column);
    .portfolio-piece-header {
        font-weight: 700;
    }
    .portfolio-piece-blurb-emphasis {
        font-weight: 700;
    }
    .portfolio-piece-icon {
        background-color: #1f1f1f;
    }
}

.portfolio-piece-icon {
        @include flex;
        @include flex-align-items(center);
        @include flex-justify-content(center);
        background-color: #ffffff;
        border: 3px solid #1f1f1f;
        box-sizing: content-box;
        cursor: pointer;
        height: 250px;
        margin: 1.5%;
        opacity: 1;
        padding: 0;
        position: relative;
        transition: ease-out 0.3s;
        width: 325px;
        &:hover {
            border: 3px solid #ff008c;
            opacity: 0.8;
        }
}
.portfolio-piece-icon-image {
    cursor: pointer;
    width: 300px;
}
.portfolio-piece-header {
    color: #ff008c;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}
.portfolio-piece-row {
    @include flex;
    @include flex-direction(row);
    @include flex-align-items(center);
}
.portfolio-icons-row {
    @include flex-align-items(flex-end);
}
.portfolio-piece-column:first-of-type {
    margin-right: 5%;
    margin-top: 15px;
}
.portfolio-piece-blurb {
    margin-bottom: 15px;
}
.portfolio-piece-blurb-emphasis {
    color: #ff008c;
    font-weight: 300;
}
.portfolio-piece-blurb-emphasis-black {
    font-weight: 700;
}
.portfolio-piece-list {
    margin-left: 30px;
}
.portfolio-piece-list-item {
    margin-bottom: 5px;
    &:last-of-type {
        margin-bottom: 0;
    }
}

/* process page styles */

.portfolio-process-body {
    @include flex;
    @include flex-direction(column);
    .portfolio-process-row {
        @include flex;
        @include flex-direction(row);
        background-color: #ffffff;
        color: #1f1f1f;
        padding: 25px 10%;
        &:first-of-type {
            border-top: solid 3px #b0e9f7;
            padding-top: 100px;
        }
        &:last-of-type {
            padding-bottom: 100px;
        }
    }
    .portfolio-process-design-img {
        border: solid 3px #000000;
        margin-right: 5%;
    }
    .portfolio-process-column {
        @include flex;
        @include flex-direction(column);
    }
    .portfolio-process-header {
        border-bottom: solid 2px #b0e9f7;
        color: #0062ff;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
        padding-bottom: 5px;
    }
    .portfolio-process-blurb {
        font-weight: 700;
        margin-bottom: 15px;
    }
    .portfolio-process-list {
        margin-left: 15px;
    }
    .portfolio-process-list-item {
        margin-bottom: 10px;
    }
    .portfolio-process-list-item-emphasis {
        font-weight: 700;
    }
}

/* end process page styles */


/* portfolio: testive marketing page styles */


.portfolio-testive-home-page, .portfolio-testive-branding {
    background-color: #ffffff;
    color: #1f1f1f;
    padding: 50px 10%;
    @include flex;
    @include flex-direction(column);
    .portfolio-piece-header {
        font-weight: 700;
    }
    .portfolio-piece-blurb-emphasis {
        font-weight: 700;
    }
    .portfolio-piece-icon {
        background-color: #1f1f1f;
    }
}


.portfolio-testive-landing-page {
    background-color: #1f1f1f;
    padding: 50px 10%;
    @include flex;
    @include flex-direction(column);
}


/* end portfolio: testive marketing page styles */


/* ccn page styles */

.portfolio-ccn-body {
    @include flex;
    @include flex-direction(column);
    background-color: #ffffff;
    color: #1f1f1f;
    .portfolio-ccn-intro {
        @include flex;
        @include flex-direction(column);
        background-color: #1f1f1f;
        color: #eaeaea;
        padding: 50px 10%;
    }
    .portfolio-ccn-title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
        text-align: center;
    }
    .portfolio-ccn-title-emphasis {
        color: #ff008c;
        font-weight: 300;
    }
    .portfolio-ccn-intro-blurb {
        @include flex;
        @include flex-align-self(center);
        font-size: 18px;
        margin-bottom: 35px;
        max-width: 735px;
        text-align: center;
    }
    .portfolio-ccn-screenshot {
        @include flex;
        border: solid 3px #ffffff;
        cursor: pointer;
        max-width: 750px;
        margin: 0 auto;
        opacity: 1;
        transition: ease-out 0.3s;
        width: 100%;
        &:hover {
            border-color: #ff008c;
            opacity: 0.8;
        }
    }
    .portfolio-ccn-process {
        @include flex;
        @include flex-direction(column);
        margin: 50px auto;
        max-width: 750px;
    }
    .portfolio-ccn-process-title {
        border-bottom: solid 2px #ff008c;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .portfolio-ccn-process-blurb {
        margin-bottom: 15px;
    }
    .portfolio-ccn-process-blurb-emphasis {
        font-weight: 700;
    }
    .portfolio-ccn-process-header {
        color: #ff008c;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .portfolio-ccn-process-list {
        margin-left: 30px;
    }
    .portfolio-ccn-process-list-item {
        margin-bottom: 10px;
    }
    .portfolio-ccn-process-img {
        border: solid 3px #000000;
        margin: 25px 0;
        width: 100%;
    }
    .portfolio-ccn-process-design-visuals {
        @include flex;
        @include flex-align-items(flex-start);
        @include flex-direction(row);
        @include flex-justify-content(space-around);
        margin-bottom: 15px;
    }
    .portfolio-ccn-process-design-visuals-column {
        @include flex;
        @include flex-align-items(center);
        @include flex-direction(column);
        position: relative;
    }
    .portfolio-ccn-process-design-visuals-header {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .portfolio-ccn-process-color-swatches {
        @include flex;
        @include flex-direction(row);
        @include flex-justify-content(space-between);
        width: 150px;
        &:first-of-type {
            margin-bottom: 10px;
        }
    }
    .portfolio-ccn-process-color {
        border: solid 2px #000000;
        height: 65px;
        width: 65px;
    }
    .color-1 {
        background-color: #1b1464;
    }
    .color-2 {
        background-color: #1552ff;
    }
    .color-3 {
        background-color: #ff00ff ;
    }
    .color-4 {
        background-color: #ffffff;
    }
    .portfolio-ccn-process-design-img {
        width: 200px;
    }
    .portfolio-ccn-process-capitol-bg-subtitle {
        bottom: 5px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 300;
        position: absolute;
    }
}


/* end ccn page styles */

@keyframes slideIn {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.portfolio-footer {
    @include flex;
    @include flex-direction(column);
    border-top: solid 2px #ff008c;
    color: #eaeaea;
    padding: 7%;
    position: relative;
    &:after {
        background: url('../images/graffiti-alley.jpg') no-repeat left;
        background-size: cover;
        bottom: 0;
        content: "";
        left: 0;
        opacity: 0.15;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .portfolio-footer-about-title {
        color: #ff008c;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .portfolio-footer-social-media {
        @include flex;
        @include flex-direction(row);
    }
    .portfolio-footer-social-media-icon {
        background-color: rbga(0,0,0,1);
        border-radius: 50%;
        height: 46px;
        margin: 0 25px 15px 0;
        transition: ease-out 0.3s;
        width: 46px;
        &:first-of-type {
            height: 43px;
            width: 43px;
        }
        &:hover {
            background-color: #ff008c;
            height: 46px;
            width: 46px;
            &:first-of-type {
                height: 43px;
                width: 43px;
                border-radius: 10px;
            }
            &:last-of-type {
                border-radius: 13px;
            }
        }
    }

    .portfolio-footer-email {
        color: #eaeaea;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .portfolio-about-resume-link {
        color: #eaeaea;
        cursor: pointer;
        font-size: 20px;
        margin-bottom: 20px;
        text-decoration: underline;
        transition: ease-out 0.3s;
        width: 170px;
        &:hover {
            color: #ff008c;
        }
    }

}

@media only screen and (max-width: 975px) {
    .portfolio-nav {
        .portfolio-nav-links {
            @include flex;
            @include flex-direction(column);
        }
        .portfolio-nav-link {
            margin: 0 0 10px 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .portfolio-footer {
        @include flex-direction(column);
        .portfolio-footer-about-blurb:last-of-type  {
            padding-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 750px) {
    .portfolio-nav {
        @include flex-direction(column);
        @include flex-align-items(flex-start);
        .portfolio-nav-left-side {
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .portfolio-modal {
        .portfolio-modal-gif {
            display: none;
        }
    }
}

@media only screen and (max-width: 500px) {
    .portfolio-nav {
        @include flex-align-items(center);
        .portfolio-nav-name {
            font-size: 28px;
        }
        .portfolio-nav-title {
            display: none;
        }
    }
    .portfolio-footer {
        .portfolio-footer-about-title {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
}
