/* flexbox mixins */

@mixin flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

@mixin flex-align-items ($direction: center) {
    -webkit-align-items: $direction;
    -ms-align-items: $direction;
    -moz-align-items: $direction;
    align-items: $direction;
}

@mixin flex-align-self ($direction: center) {
    -webkit-align-self: $direction;
    -ms-align-self: $direction;
    -moz-align-self: $direction;
    align-self: $direction;
}

@mixin flex-direction ($type: row) {
    -webkit-flex-direction: $type;
    -ms-flex-direction: $type;
    -moz-flex-direction: $type;
    flex-direction: $type;
}

@mixin flex-justify-content ($direction: center) {
    -webkit-justify-content: $direction;
    -ms-justify-content: $direction;
    -moz-justify-content: $direction;
    justify-content: $direction;
}

@mixin flex-wrap($wrap: wrap) {
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

/* styles for andrea's portfolio */

.portfolio {
    @include flex;
    @include flex-direction(column);
    color: #1f1f1f;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.portfolio-nav {
    @include flex;
    @include flex-align-items(flex-end);
    @include flex-direction(row);
    @include flex-justify-content(space-between);
    border-bottom: solid 2px #ff008c;
    padding: 5% 5%;
    position: relative;
    &:after {
        background: url('../images/graffiti-alley.jpg') no-repeat left;
        background-size: cover;
        bottom: 0;
        content: "";
        left: 0;
        opacity: 0.4;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .portfolio-nav-left-side {
        @include flex;
        @include flex-direction(column);
    }
    .portfolio-nav-name {
        color: #1f1f1f;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 2%;
        text-shadow: 0px 0px 10px #ffffff;
    }
    .portfolio-nav-title {
        width: 445px;
    }
    .portfolio-nav-link {
        background-color: rgba(255, 255, 255, 0.6);
        border-bottom: none;
        color: #1f1f1f;
        font-size: 20px;
        font-weight: 700;
        margin: 0 25px;
        padding: 7px;
        transition: ease-out 0.3s;
        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            border-bottom: solid 6px #ff008c;
            color: #ff008c;
        }
    }
}

/* process page styles */

.portfolio-process-body {
    @include flex;
    @include flex-direction(column);
    margin: 50px 10%;
    .portfolio-process-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .portfolio-process-row {
        @include flex;
        @include flex-direction(row);
        margin-bottom: 25px;
    }
    .portfolio-process-column {
        @include flex;
        @include flex-direction(column);
    }
}

/* end process page styles */


/* ccn page styles */

.portfolio-ccn-body {
    margin: 50px 10%;
    .portfolio-ccn-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .portfolio-ccn-row {
        @include flex;
        @include flex-direction(row);
        margin-bottom: 30px;
    }
    .portfolio-ccn-intro-header {
        font-size: 20px;
        font-weight: 700;
        margin-right: 10%;
        min-width: 200px;
    }
    .portfolio-ccn-intro-column {
        margin-right: 10%;
    }
    .portfolio-ccn-header {
        font-size: 20px;
        font-weight: 700;
        left: 15px;
        margin-right: 10%;
        min-width: 200px;
        position: absolute;
        top: 15px;
        z-index: 1;
    }
    .portfolio-ccn-column {
        &:first-of-type {
            margin-right: 5%;
            position: relative;
        }
    }
    .portfolio-ccn-design-img {
        border: 3px solid #000000;
        opacity: 0.4;
        width: 250px;
        z-index: -1;
    }
    .portfolio-ccn-blurb {
        &:first-of-type {
            margin-bottom: 15px;
        }
    }
}


/* end ccn page styles */

.portfolio-row {
    @include flex;
    @include flex-direction(row);
    @include flex-justify-content(center);
    @include flex-wrap(wrap);
    margin: 7%;
    .portfolio-icon {
        background-color: #ffffff;
        border: 2px solid #1f1f1f;
        box-sizing: content-box;
        cursor: pointer;
        height: 300px;
        margin: 1.5%;
        padding: 0;
        position: relative;
        transition: ease-out 0.3s;
        width: 300px;
        .portfolio-icon-image {
            opacity: 1;
            transition: ease-out 0.3s;
            width: 300px;
        }
        .portfolio-icon-title {
            bottom: 114px;
            color: #1f1f1f;
            font-size: 24px;
            font-weight: 700;
            opacity: 0;
            position: absolute;
            text-align: center;
            transition: ease-out 0.3s;
            width: 100%;
        }
        &:hover {
            border-color: #ff008c;
            .portfolio-icon-image {opacity: 0.1;}
            .portfolio-icon-title {opacity: 1;}
        }
    }

}

.portfolio-modal {
    animation-duration: 0.4s;
    animation-name: fadeIn;
    background-color: rgba(255,255,255,0.8);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    .portfolio-modal-content {
        animation-duration: 0.4s;
        animation-name: slideIn;
        background-color: #ffffff;
        bottom: 0;
        border: 2px solid #1f1f1f;
        height: 100%;
        left: 0;
        max-width: 600px;
        overflow: scroll;
        position: fixed;
    }
    .portfolio-modal-header {
        @include flex;
        @include flex-direction(row);
        @include flex-align-items(center);
        @include flex-justify-content(space-between);
        background-color: #1f1f1f;
        color: #eaeaea;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 25px;
    }
    .portfolio-modal-close-icon {
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
        transition: ease-out 0.3s;
        &:hover {
            color: #ff008c;
            cursor: pointer;
            text-decoration: none;
        }
    }
    .portfolio-modal-body {
        padding: 25px;
    }
    .portfolio-modal-gif {
        border: 2px solid #1f1f1f;
        margin-bottom: 15px;
    }
    .portfolio-modal-paragraph {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .portfolio-modal-link {
        border-bottom: 2px solid #1f1f1f;
        color: #1f1f1f;
        font-size: 16px;
        margin: 0 10px 10px 0;
        transition: ease-out 0.3s;
        width: 168px;
        &:last-of-type {
            width: 235px;
        }
        &:hover {
            border-bottom: 6px solid #ff008c;
            color: #ff008c;
        }
    }
}

@keyframes slideIn {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.portfolio-footer {
    @include flex;
    @include flex-direction(row);
    @include flex-align-items(flex-start);
    @include flex-justify-content(space-between);
    background-color: #1f1f1f;
    color: #eaeaea;
    padding: 7%;
    .portfolio-footer-about {
        @include flex;
        @include flex-direction(column);
        color: #eaeaea;
        max-width: 645px;
        padding-right: 5%;
    }
    .portfolio-footer-about-title {
        color: #ff008c;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .portfolio-footer-about-blurb {
        padding-bottom: 15px;
    }
    .portfolio-footer-download-cv {
        border-bottom: solid 1px #ffffff;
        color: #ffffff;
        font-size: 16px;
        transition: ease-out 0.3s;
        width: 195px;
        &:hover {
            border-bottom: solid 6px #ff008c;
            color: #ff008c;
        }
    }
    .portfolio-footer-contact {
        @include flex;
        @include flex-direction(column);
    }
    .portfolio-footer-social-media {
        @include flex;
        @include flex-direction(row);
    }
    .portfolio-footer-social-media-icon {
        background-color: #1f1f1f;
        border-radius: 50%;
        height: 40px;
        margin: 0 25px 15px 0;
        transition: ease-out 0.3s;
        width: 40px;
        &:hover {
            background-color: #ff008c;
            height: 40px;
            width: 40px;
            &:first-of-type {
                border-radius: 10px;
            }
        }
    }
    .portfolio-footer-email {
        color: #eaeaea;
        font-size: 28px;
        font-weight: 100;
    }
}

@media only screen and (max-width: 975px) {
    .portfolio-nav {
        .portfolio-nav-links {
            @include flex;
            @include flex-direction(column);
        }
        .portfolio-nav-link {
            margin: 0 0 10px 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .portfolio-footer {
        @include flex-direction(column);
        .portfolio-footer-about-blurb:last-of-type  {
            padding-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 750px) {
    .portfolio-nav {
        @include flex-direction(column);
        @include flex-align-items(flex-start);
        .portfolio-nav-left-side {
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .portfolio-modal {
        .portfolio-modal-gif {
            display: none;
        }
    }
}

@media only screen and (max-width: 500px) {
    .portfolio-nav {
        @include flex-align-items(center);
        .portfolio-nav-name {
            font-size: 28px;
        }
        .portfolio-nav-title {
            display: none;
        }
    }
    .portfolio-footer {
        .portfolio-footer-about-title {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
}
