/* flexbox mixins */

@mixin flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

@mixin flex-align-items ($direction: center) {
    -webkit-align-items: $direction;
    -ms-align-items: $direction;
    -moz-align-items: $direction;
    align-items: $direction;
}

@mixin flex-align-self ($direction: center) {
    -webkit-align-self: $direction;
    -ms-align-self: $direction;
    -moz-align-self: $direction;
    align-self: $direction;
}

@mixin flex-direction ($type: row) {
    -webkit-flex-direction: $type;
    -ms-flex-direction: $type;
    -moz-flex-direction: $type;
    flex-direction: $type;
}

@mixin flex-justify-content ($direction: center) {
    -webkit-justify-content: $direction;
    -ms-justify-content: $direction;
    -moz-justify-content: $direction;
    justify-content: $direction;
}

@mixin flex-wrap($wrap: wrap) {
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

/* styles for andrea's portfolio */

.portfolio {
    @include flex;
    @include flex-direction(column);
    color: #1f1f1f;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.portfolio-nav {
    @include flex;
    @include flex-align-items(flex-end);
    @include flex-direction(row);
    @include flex-justify-content(space-between);
    border-bottom: solid 2px #ff008c;
    padding: 5% 5%;
    position: relative;
    &:after {
        content: "";
        background: url('../images/graffiti-alley.jpg') no-repeat left;
        background-size: cover;
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    .portfolio-nav-left-side {
        @include flex;
        @include flex-direction(column);
    }
    .portfolio-nav-name {
        color: #1f1f1f;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 2%;
        text-shadow: 0px 0px 10px #ffffff;
    }
    .portfolio-nav-title {
        width: 445px;
    }
    .portfolio-nav-link {
        background-color: rgba(255, 255, 255, 0.6);
        border-bottom: none;
        transition: ease-out 0.3s;
        color: #1f1f1f;
        font-size: 20px;
        font-weight: 700;
        margin: 0 25px;
        padding: 7px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            border-bottom: solid 6px #ff008c;
            color: #ff008c;
        }
    }
}

.portfolio-row {
    @include flex;
    @include flex-direction(row);
    @include flex-justify-content(center);
    @include flex-wrap(wrap);
    margin: 7%;
    .portfolio-icon {
        border: 2px solid #1f1f1f;
        height: 300px;
        margin: 1.5%;
        position: relative;
        transition: ease-out 0.5s;
        width: 300px;
        .portfolio-icon-image {
            opacity: 1;
            transition: ease-out 0.3s;
            width: 300px;
        }
        .portfolio-icon-title {
            bottom: 114px;
            color: #1f1f1f;
            font-size: 24px;
            font-weight: 700;
            opacity: 0;
            position: absolute;
            text-align: center;
            transition: ease-out 0.3s;
            width: 100%;
        }
        &:hover {
            border-color: #ff008c;
            .portfolio-icon-image {opacity: 0.2;}
            .portfolio-icon-title {opacity: 1;}
        }
    }

}

.portfolio-footer {
    @include flex;
    @include flex-direction(row);
    @include flex-align-items(flex-start);
    @include flex-justify-content(space-between);
    background-color: #1f1f1f;
    color: #eaeaea;
    padding: 7%;
    .portfolio-footer-about {
        @include flex;
        @include flex-direction(column);
        max-width: 660px;
    }
    .portfolio-footer-about-title {
        color: #ff008c;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 2%;
    }
    .portfolio-footer-download-cv {
        border-bottom: solid 1px #ffffff;
        color: #ffffff;
        font-size: 16px;
        transition: ease-out 0.3s;
        width: 195px;
        &:hover {
            border-bottom: solid 6px #ff008c;
            color: #ff008c;
        }
    }
    .portfolio-footer-contact {
        @include flex;
        @include flex-direction(column);
    }
    .portfolio-footer-social-media {
        @include flex;
        @include flex-direction(row);
    }
    .portfolio-footer-social-media-icon {
        background-color: #1f1f1f;
        border-radius: 50%;
        height: 85px;
        margin: 0 25px 25px 0;
        transition: ease-out 0.3s;
        width: 85px;
        &:hover {
            background-color: #ff008c;
            width: 85px;
            height: 85px;
            &:first-of-type {
                border-radius: 10px;
            }
        }
    }
    .portfolio-footer-email {
        font-size: 28px;
        font-weight: 100;
    }
}
